html{scroll-behavior: smooth;}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Logo on hover*/
.logo{
    padding: 0 20px;
}
.logo1{
    position: absolute;
}
.logo2{
    position: relative;
    width: auto;
    opacity: 0%;
}
.logo2:hover{
    opacity: 100%;
    cursor: pointer;
}
/* Website Nav Bar*/

.inline-block a {
    list-style: none;
    text-decoration: none;
    color:#5E6129;
}
li{
    list-style: none;
    text-decoration: none;
    color:#5E6129;
}
.inline-block a:hover {
    color: #DFA123;
    text-decoration: underline;
}

.inline-block.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
ul.ul{
    display: flex;
}
.ul li{
    padding: 0 20px;
    font-family: 'Saira', sans-serif;
    font-size: 19px;
    font-weight: normal;

}

/*Hero Section*/

.heroSection{

    height: 400px;
    background-image: url('images/ellipse.png');
    background-size: 694px 455px;
    height: auto;
    background-repeat: no-repeat;
    /* background-attachment: inherit; */
    background-position: 50% 50%;
    margin: 5px auto;
    background-position: bottom;
}
.mT.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hi{
    font-family: 'Bad Script', cursive;
    font-style: italic;
    font-weight: 500;
    font-size: 27px;
    line-height: 49px;
    margin-top: 7%;
}
.hi.heart{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.selfIntro{
    font-family: 'Bad Script', cursive; ;
    font-size: 17px;
    font-weight: lighter ;
    padding: 5% 0;
    text-align: justify;
}
/*Resume button*/
.resume{
    height: 42px;
    width: 152px;
    background-color: transparent;
    border: 1px solid #505317;
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    color: #505317;
    margin: 5% 0;
    cursor: pointer;
}

/* Skill Section*/
.skillSection{
    position: relative;
    background: transparent;
    border: 2px solid #999B77;
    box-sizing: border-box;
    border-radius: 20px;
    height: 526px;
    width: 710px;
    margin: 10% auto;

}

.skillTitle{
    top: -4%;
    position: relative;
    font-family: 'Spectral SC', serif;
    font-size: 30px ;
    color: #505317;

}
.pSkill{
    text-align: center;
    text-decoration: white;
    width: fit-content;
    margin: auto;
    padding: 0 5%;
    background-color: white;
}