html{scroll-behavior: smooth;}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h5{
    font-family: 'Spectral SC', serif;
    font-size: 28px ;
    color: #5E6129;
    font-weight: 500;
}
h6{
    font-family: 'Saira', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #5E6129;
    padding: 5px;
}
/*Logo on hover*/
.logo{
    padding: 0 20px;
}
.logo1{
    position: absolute;
}
.logo1:hover{
    display: none;
    opacity: 0;
}
.logo2{
    position: relative;
    width: auto;
    opacity: 0%;
}
.logo2:hover{
    opacity: 100%;
    transition: ease 0.3s;
    cursor: pointer;
}
/* Website Nav Bar*/

.inline-block a {
    list-style: none;
    text-decoration: none;
    color:#5E6129;
}
li{
    list-style: none;
    text-decoration: none;
    color:#5E6129;
}
.inline-block a:hover {
    color: #DFA123;
    text-decoration: underline;
    transition: ease 0.2s;
}

.inline-block.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
ul.ul{
    display: flex;
}
.ul li{
    padding: 0 20px;
    font-family: 'Baloo Tamma 2';
    font-size: 19px;
    font-weight: normal;

}

/*Up button*/
#upButton{
    display: none;
    opacity: 80%;
    z-index: 1;
    position: fixed;
    right: 50px;
    bottom: 25%;
}
#upButton:hover{
    filter: drop-shadow(0px -1px 7px rgba(198, 177, 177, 0.3));
    opacity: 100%;
    transform: ease 0.7s;
    cursor:pointer;
}

/*Hero Section*/

.heroSection{

    height: 400px;
    baackground-image: url('images/ellipse.png');
    background-size: 694px 455px;
    height: auto;
    background-repeat: no-repeat;
    /* background-attachment: inherit; */
    background-position: 50% 50%;
    margin: 5px auto;
    background-position: bottom;
}

.mT.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mT{
    padding: 0 3%;
}
.intro{
    padding: 0 3%;
}
#mak{
    -webkit-mask-image: url(images/mask.png);
    mask-image: url(images/mask.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: top left;
}
.maskPic{

}
.hi{
    font-family: 'Baloo Tamma 2';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-top: 7%;
    color: #D09A8D;
}

.title{
    font-family: 'Baloo Tamma 2';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #858585;
    display: flex;
}
.vl{
        border-left: 2px solid lightgrey;
        height: 11px;
        margin: 2% 3% 0 3%;
}
.selfIntro{
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 5% 0;
    color: rgba(0, 0, 0, 0.9);
    text-align: justify;
}
/*Resume button*/
.resume{
    width: 144px;
    height: 38px;
    background-color: transparent;
    border: 1px solid #767A31;
    font-family: 'Baloo Tamma 2';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #767A31;
    margin: 5% 0;
    cursor: pointer;
    
}
.resume:hover{
    background-color: rgba(255, 255, 255, 0.4);;
    filter: drop-shadow(6px 6px 0px #ffd581);
    transition: ease 0.2s;
}

/* Skill Section*/
.skillSection{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: -2px 5px 12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
    height: 455px;
    width: 710px;
    margin: 10% auto 0 auto;

}

.pSkill{
    text-align: center;
    text-decoration: white;
    width: fit-content;
    margin: auto;
    padding: 0 5%;
    background-color: white;
    top: -5%;
    position: relative;
    font-family: 'Spectral SC', serif;
    font-size: 33px ;
    color: #5E6129;
}
.flexContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

}
.skillIcon{
    width: 90px;
}

.skillNotes{
    width: 150px;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color:#505317;
}

.tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    
}
.toolIcons{
    padding: 15px;
}

.skillGif{
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-family:'Bad Script', cursive;
    font-size: 17px;
    font-style: italic;
    color:#505317;
    margin: 5% auto;
}
/*Project Section*/
.project{
    display: flex;
    justify-content: center;
    position: relative;
}
.line{
    width: 516px;
    border: 1px solid #999B77;
}
.projectLine{
background-color: white; 
width:fit-content;
padding: 0 5%;
text-align: center;
position: absolute;
top: -20px;
}
/*Grid Pojects*/
.gridArea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px;
    grid-template-areas: "item1 item2 item3";
    align-items: center;
}
.ex{
    background: #FFF8E0;
    width: 709px;
    height: 197px;
    margin: 5% auto;
    position: relative;
    overflow: hidden;
}
.ex:hover{
    transition: ease 0.3s;
    background: #fff5d5;


}
.ex2:hover{
    transition: ease 0.3s;
    background: #D6F3F5;

}
.ex3:hover{
    transition: ease 0.3s;
    background: #D4EFE2 ;
}
.ex2{
    background: #E2F0F1;
    width: 709px;
    height: 197px;
    margin: 5% auto;
    position: relative;
    overflow: hidden;
    
}
.ex3{
    background: #E1EFE8;
    width: 709px;
    height: 197px;
    margin: 5% auto;
    position: relative;
    overflow: hidden;
}

.project1{
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.e{ 
    width: 162px;
    height: 280px;
    position: absolute;
    left: 10%;
}
.e2{
    width: 162px;
    height: 280px;
    position: absolute;
    right: 10%;
}
.projectDes{
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}
.projecttitle{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    color: #5E6129;
}
.projectSubTitle{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #5E6129;


}
.how{
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #5E6129;
    margin: 3% 0;
}
.bar{
    width: 12px;
    border: 1px solid #999B77;
    transform: rotate(90deg);
    margin: 3%;
}

.see{
    width: 166px;
    height: 42px;
    border: 1px solid #999B77;
    background-color: transparent;
    font-family: 'Baloo Tamma 2';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #767A31;
    margin:auto;
}
.see:hover{
    background: rgba(255, 255, 255, 0.4);
    transition: ease 0.3s;
    cursor: pointer;
}

/*Footer*/
#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.socialApp{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 110px;
   margin: 1% auto;
}
.email{
    text-decoration: none;
    font-family: 'Saira'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 14px;
    color: #5E6129; 
    margin: 1% auto;
}
.display{
    width: 310px;
    height: auto;
}
.copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

/*Mobile*/
.em2{
    display: none;
}
@media only screen and (max-width:768px){
    #upButton{
        left: 30px;
        bottom: 10%;
        width: fit-content
       }
       .upButton{
        width: 80px;
       }
    .mT.intro{
        flex-direction: column;
    }
    .maskPic{
        display: none;
    }
    .em2{
        display: block;
    }
}

/*Effects*/
.deco1{
    position: relative;
    width: 100%;
    height: 6px;
    left: -450;
    top: -10%;
    background: #D2E6BB;
    border-radius: 10px;
}
.deco2{
    position: absolute;
    width: 422px;
    height: 6px;
    top: 715px;
    background: #FBEBE8;
    border-radius: 10px;

}
.deco3{
    position: absolute;
    width: 35%;
    height: 6px;
    right: 0%;
    top: 1107px;
    background: #ADD1D4;
    border-radius: 10px;
}
.deco4{
    position: relative;
    width: 101%;
    height: 6px;
    left: 269px;
    top: 9%;
    background: #FAE9C6;
    border-radius: 10px;
}